.navBarOuter {
  position: absolute;
  width: 100vw;
  height: 50px;
  z-index: 2;

  .navBarWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 45px;

    @media (max-width: 760px) {
      justify-content: center;
      background-color: black;
      margin: 0;

    }

    .logoWrapper {
      height: 100%;

      @media (min-width: 760px) {
        margin-left: 10px;
      }


      p {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        margin: 0;
        color: white;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 31px;

      }
    }

    .buttonWrapper {
      flex: 1;
      height: 100%;
      display: flex;
      color: white;
      justify-content: flex-end;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 18px;

      @media (max-width:760px) {
        display: none;
      }

      p {
        margin: 0;
      }

      .closeSizing {
        position: relative;
        z-index: 2;
        right: -400px;
        top: 10px;

        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
      }

      .closeSizing:hover {
        opacity: 1;
      }

      .closeSizing:before,
      .closeSizing:after {
        position: absolute;
        content: ' ';
        height: 20px;
        width: 2px;
        background-color: white;
      }

      .closeSizing:before {
        transform: rotate(45deg);
      }

      .closeSizing:after {
        transform: rotate(-45deg);
      }


      .loginButton {
        margin-right: 20px;
        display: flex;
        border: white 2px solid;
        border-radius: 25px;
        padding: 5px 20px;
        box-sizing: content-box;
        cursor: pointer;
        min-width: 65px;
        z-index: 1;
        flex-direction: column;
        background-color: black;

        p {
          text-align: center;
        }


        .responsiveLoginCard {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          flex: 1;
        }
      }

      .registerButton {
        display: flex;
        border: white 2px solid;
        border-radius: 25px;
        padding: 5px 20px;
        box-sizing: content-box;
        cursor: pointer;
        min-width: 85px;
        z-index: 1;



        @media (min-width: 600px) {
          margin-right: 10px;

        }

        .responsiveRegisterCard {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

        }


      }
    }

    // MOBILE
    .ToggleMenuStyle {
      width: 50px;
      position: absolute;
      height: 100%;
      right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      @media (min-width:760px) {
        display: none;
      }


      .toggleBar {
        background-color: white;
        width: 30px;
        height: 3px;
        margin: 3px;
        border-radius: 1px;
      }
    }

    .mobileMenyPopup {
      width: 100vw;
      height: 100vh;
      background-color: black;
      position: absolute;
      z-index: 2;
      margin: auto;
      display: flex;

      .contentPopup {
        margin: auto;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;

        h1 {
          text-align: center;
          color: white;
        }

        .mobileLoginWrapper {
          width: 90%;
          height: 200px;
          margin-bottom: 20px;
        }

        .close {
          position: absolute;
          z-index: 2;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 30px;
          top: 0;
          right: 0;
        }

        .close:hover {
          opacity: 1;
        }

        .close:before,
        .close:after {
          position: absolute;
          content: ' ';
          height: 20px;
          width: 2px;
          background-color: white;
        }

        .close:before {
          transform: rotate(45deg);
        }

        .close:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .formLogin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

    p {
      width: 85%;
      height: 30px;
    }

    .formGroup {
      justify-content: center;
      display: flex;
      width: 100%;

      .formInput {
        width: 85%;
        background-color: #fff0;
        color: white;
        border-bottom: white solid 2px;
        height: 30px;

      }
    }

    .submitWraper {
      display: flex;
      justify-content: center;

      .submitForm {
        width: 20px;
        background-color: #fff0;
        padding: 0;
        height: 80px;

        img {
          filter: invert(1);
          width: 20px;
        }
      }
    }


  }

  .profileNavWrapper {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    @media (min-width: 600px) {
      margin-right: 10px;

    }

    .profileNav {
      display: flex;
      justify-content: space-evenly;
      border: white 2px solid;
      border-radius: 25px;
      align-items: center;
      padding: 0 20px;

      .profileName {
        color: white;
        font-size: 20px;
        margin: 0;
        margin-right: 40px;

      }

      button {
        background-color: #fff0;
        color: white;
      }
    }
  }
}