.profileWebWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;

  .ChooseButton {
    width: 100%;
    height: 100%;
  }

  .chooseButtonActive {
    width: 100vw !important;
    height: 100vh !important;
  }

  .profileWrapperButton {
    width: 100%;
    top: 0;
    display: flex;
    margin-top: 50px;

    .profileGalery {
      position: relative;
      flex: 1;
      clip-path: circle(15% at 50% 50%);
      height: 100vh;
    }

    .profileGame {
      position: relative;
      flex: 1;
      clip-path: circle(15% at 50% 50%);
      height: 100vh;

    }
  }

  .activeProfilePage {
    clip-path: circle(100% at 50% 50%) !important;
  }

  .deActivateProfilePage {
    flex: 0 !important;
  }

}