.profileWebWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  position: relative;


  .white {
    background-color: white;
  }

  .profileGalery {
    overflow-x: scroll;
  }

  @media screen and (max-aspect-ratio:1/2) {
    .profileGalery {
      position: absolute;
      width: 50vw;
      height: 50vw;
      top: calc((50vh - 50vw) / 2);
    }

    .profileGame {
      position: absolute;
      width: 50vw;
      height: 50vw;
      bottom: calc((50vh - 50vw) / 2);
    }

  }

  @media screen and (aspect-ratio:1/2) {
    .profileGalery {
      position: absolute;
      width: 50vw;
      height: 50vw;
      top: calc((50vh - 50vw) / 2);
    }

    .profileGame {
      position: absolute;
      width: 50vw;
      height: 50vw;
      bottom: calc((50vh - 50vw) / 2);
    }

  }

  @media screen and (min-aspect-ratio:1/2) and (max-aspect-ratio: 1/1) {
    .profileGalery {
      position: absolute;
      width: 25vh;
      height: 25vh;
      top: 12.5vh;
    }

    .profileGame {
      position: absolute;
      width: 25vh;
      height: 25vh;
      bottom: 12.5vh;
    }

  }

  @media screen and (aspect-ratio: 1/1) {

    .profileGalery {
      position: absolute;
      width: 25vw;
      height: 25vw;
      left: 12.5vw;
    }

    .profileGame {
      position: absolute;
      width: 25vw;
      height: 25vw;
      right: 12.5vw;
    }
  }

  @media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 2/1) {

    .profileGalery {
      position: absolute;
      width: 25vw;
      height: 25vw;
      left: 12.5vw;
    }

    .profileGame {
      position: absolute;
      width: 25vw;
      height: 25vw;
      right: 12.5vw;
    }
  }

  @media screen and (aspect-ratio: 2/1) {

    .profileGalery {
      position: absolute;
      width: 50vh;
      height: 50vh;
      left: calc((50vw - 50vh) / 2);
    }

    .profileGame {
      position: absolute;
      width: 50vh;
      height: 50vh;
      right: calc((50vw - 50vh) / 2);
    }
  }

  @media screen and (min-aspect-ratio: 2/1) {

    .profileGalery {
      position: absolute;
      width: 50vh;
      height: 50vh;
      left: calc((50vw - 50vh) / 2);
    }

    .profileGame {
      position: absolute;
      width: 50vh;
      height: 50vh;
      right: calc((50vw - 50vh) / 2);
    }
  }


  .graphicTitleButton {
    display: inline;
    font-family: 'Mansalva', cursive;
    font-size: calc(16px + 2vw);
    font-weight: bold;
  }

  .gameTitleButton {
    font-family: 'Trade Winds', cursive;
    display: inline;
    font-size: calc(16px + 2vw);
    font-weight: bold;

  }

  .GraphicProfile {
    display: block;
    min-height: 100vh;
    margin-top: 100px;
    min-height: 100vh;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    display: flex;

    .graphicTitle {
      display: block;
      font-family: 'Mansalva', cursive;
      font-size: calc(40px + 2vw);
      font-weight: bold;
      color: black;
    }

    .addGraphicButton {
      display: flex;
      width: 90vw;
      height: 50px;
      max-width: 500px;
      border: black 5px solid;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      position: relative;

      .formNewGraphic {
        z-index: 1;
        display: flex;
        overflow: hidden;

      }

      .plusItem {
        display: flex;
        height: 30px;
        justify-content: center;
        width: 30px;
        align-items: center;

        .singleBar {
          display: block;
          display: block;
          width: 20px;
          height: 3px;
          border-radius: 1px;
          position: absolute;
          background-color: black;

          &:nth-child(1) {
            transform: rotate(90deg);
          }
        }
      }

      &::after {
        content: "";
        bottom: -10px;
        width: calc(100% - 30px);
        height: 15px;
        background-color: white;
        position: absolute;
        box-shadow: white 0 -45px;
      }

      &::before {
        content: "";
        width: calc(100% + 13px);
        height: 20px;
        background-color: white;
        position: absolute;
      }
    }
  }

}

.yourGraphicListWrapper {
  display: block;

  .GalerySliderWrapper {
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000000f0;
    left: 0;
    top: 0;

    .GaleryContent {
      height: 100%;
      width: 100%;
      display: flex;
      position: relative;
      align-items: center;

      .ActiveImg {
        max-height: 90vh;
        display: flex;
        align-items: center;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        max-width: calc(80vw);
        justify-content: center;

        img {
          max-height: 80vh;
          max-width: 70vw;


        }
      }

      .PreviousImg {
        max-height: 90vh;
        display: flex;
        align-items: center;
        right: calc(100vw - 10vw);
        position: absolute;

        img {
          max-height: 80vh;
          max-width: 70vw;

        }
      }

      .NextImg {
        max-height: 90vh;
        display: flex;
        align-items: center;
        align-items: center;
        position: absolute;
        left: calc(100% - 10vw);

        img {
          max-height: 80vh;
          max-width: 70vw;


        }
      }
    }

    .sliderNavigation {
      display: flex;
      margin: 20px 0;
      height: 50px;
      display: flex;
      align-items: center;
      position: relative;
      width: 200px;

      .close {
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        left: 0;
        right: 0;
        margin: auto;

      }

      .close:hover {
        opacity: 1;
      }

      .close:before,
      .close:after {
        position: absolute;
        content: ' ';
        height: 50px;
        width: 2px;
        background-color: white;
      }

      .close:before {
        transform: rotate(45deg);
      }

      .close:after {
        transform: rotate(-45deg);
      }

      .arrow {
        display: inline-block;
        position: absolute;
        width: 25px;
        height: 25px;
        background: transparent;
        text-indent: -9999px;
        border-top: 2px solid #bfbfbf;
        border-left: 2px solid #bfbfbf;
        text-decoration: none;
        color: transparent;
      }


      .arrow:before {
        display: block;
        height: 200%;
        width: 200%;
        margin-left: -50%;
        margin-top: -50%;
        content: "";
        transform: rotate(45deg);
      }

      .arrow.prev {
        transform: rotate(-45deg);
        left: 0;
      }

      .arrow.next {
        transform: rotate(135deg);
        right: 0;
      }
    }

  }

  .GaleryGraphicWrapper {

    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 1;

    .GraphicWrapper {
      width: 300px;
      height: 300px;
      margin: 20px;

      .GraphicButton {
        width: 100%;
        height: 100%;
        padding: 0;

        img {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;

        }
      }

    }
  }

}


.activeProfilePage {
  z-index: 1;
  width: 100vw !important;
  min-height: 100vh !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}