.opacity-enter {
  opacity: 0;
}

.opacity-enter-active {
  transition: opacity 1.2s;
}


.opacity-leave-active {
  opacity: 0;
}

.opacity-web-enter-active {
  animation: opacity-web-in 0.6s ease-in forwards;
  animation-delay: 0.6s;

}

.opacity-web-leave-active {
  animation: opacity-web-out 0.6s ease-out forwards;

}

@keyframes opacity-web-in {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;

  }
}

@keyframes opacity-web-out {
  from {}

  to {
    opacity: 0;
  }
}

.delay-enter {
  opacity: 0;
}

.delay-enter-active {
  transition: opacity 1s;
}

.delay-leave {}

.delay-leave-active {
  transition: opacity 1s;

  opacity: 0;
}