body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Turret Road", cursive;
  background-color: black;
}

input,
button,
submit {
  border: none;
  color: black;
  background: none;
}

a {
  color: white;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.overflowAuto {
  overflow-y: visible;
}

.galeryBackground {
  background-image: url("./images/galery/image5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  widows: 100%;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0.5);
  }
}