body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Work Sans', sans-serif;
}

input,
button,
submit {
  border: none;
}

a {
  color: white;

  &:hover {
    color: white;
    text-decoration: none;
  }
}