.opacity-enter {
  opacity: 0;
}

.opacity-enter-active {
  transition: opacity 0.3s;
}

.opacity-leave {
  opacity: 1;
  animation-delay: 0.3s;
}

.opacity-leave-active {
  opacity: 0;
}

.opacity-web-enter-active {
  animation: opacity-web-in 0.3s ease-in forwards;
  animation-delay: 0.3s;

}

.opacity-web-leave-active {
  animation: opacity-web-out 0.3s ease-out forwards;

}

@keyframes opacity-web-in {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;

  }
}

@keyframes opacity-web-out {
  from {}

  to {
    opacity: 0;
  }
}

.hide-nav-enter {
  top: 0;
}

.hide-nav-enter-active {
  animation: translateY-Appear 0.3s ease-in forwards;
}

.hide-nav-leave {}

.hide-nav-leave-active {
  animation: translateY-Disapear 0.3s ease-in forwards;

}

@keyframes translateY-Appear {
  from {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes translateY-Disapear {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50px);
  }
}